<!-- search bar and drop-down to filter projects -->
<!-- TODO: make search & drop-down work -->
<div class="ph3-ns">
  <ul class="list ph2">
    <li role="presentation" class="dib">
      <input ng-model="$ctrl.query" type="search" class="br2" placeholder=" filter">
    </li>
    <li class="dib">
      <select ng-model="$ctrl.sortSelected" ng-options="option as 'sort by ' + option for option in $ctrl.sortBy" class="" id="sort">
    </select>
    </li>
  </ul>
</div>

<div class="fl w-100 w-100 pa2 pl3">
  <div class="bg-white pa4 br4">
    <div>
      <h2 class="mid-gray sans-serif f3 fw4">Current monsters</h2>
      <hr />

      <div ng-repeat="project in $ctrl.projects | filter:$ctrl.query | orderBy:$ctrl.reSortPosts()">
        <project project='project'></project>
      </div>

    </div>
