.link:focus {
  outline: 0;
}


.accent {
  color: #82BD38
}

.nav-buttons {
  overflow-x: scroll;
  white-space: nowrap
}

.hover-bg-green:hover, .hover-bg-green:focus, .bg-navbar-active, .enabled:hover {
  background-color: #82BD38;
}

input.ng-invalid.ng-dirty {
  border-color: #B2482C;
  border-width: 1px;
  border-style: solid;
}

input.ng-valid.ng-dirty {
  border-color: #82BD38;
  border-width: 1px;
  border-style: solid;
}

.disabled {
  background-color: #ccc;
}

.enabled {
  cursor: pointer;
}

.active {
  color: #82BD38;
  font-weight: 300;
}

.tinyAvatar {
  width: 40px;
}

/*d3*/
.legend {
  font-size: 12px;
}
rect {
  stroke-width: 2;
}

#chart {
  height: 360px;
  position: relative;
  width: 360px;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  display: none;
  font-size: 12px;
  left: 130px;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 95px;
  width: 80px;
  z-index: 10;
}



/*buttons*/
/*padding: ph1*/
