.link:focus {
  outline: 0;
}


.accent {
  color: #82BD38
}

.nav-buttons {
  overflow-x: scroll;
  white-space: nowrap
}

.hover-bg-green:hover, .hover-bg-green:focus, .bg-navbar-active, .enabled:hover {
  background-color: #82BD38;
}

input.ng-invalid.ng-dirty {
  border-color: #B2482C;
  border-width: 1px;
  border-style: solid;
}

input.ng-valid.ng-dirty {
  border-color: #82BD38;
  border-width: 1px;
  border-style: solid;
}

.disabled {
  background-color: #ccc;
}

.enabled {
  cursor: pointer;
}

.active {
  color: #82BD38;
  font-weight: 300;
}

.tinyAvatar {
  width: 40px;
}
