<header>
  <div class="ph3-ns">
    <div class="cf">
      <div class="fl w-100 w-two-thirds pa2">
        <div class="">
          <a ui-sref="home" class="link"><h1 class="mid-gray f2-ns f3 fw3">betam<img src="images/monster.png" class="mw2" alt="betamonster logo"/>nster</h1></a>
        </div>
      </div>

      <div class="fl w-100 w-third pa2 cf">
        <div class="pv4 nav-buttons">
          <a ui-sref="login"><button class="bw0 br3 bg-mid-gray pa2-l pa1 near-white f6 fw1 tc bg-animate hover-bg-green fr pointer link">log in</button></a>
          <a ui-sref="signup"><button class="bw0 br3 pa2-l pa1 near-white f6 fw1 tc fr bg-animate bg-navbar-active mr2 link">sign up</button></a>

        </div>
      </div>
    </div>
  </div>

</header>

<main>
  <div class="ph3-ns mw6-ns center">
    <div class="bg-white ph4 pb4 pt1 br4">
      <h2 class="mid-gray sans-serif f3 fw4">Sign up</h2>

      <article class="pa1 black-80">
        <form name="$ctrl.signupForm" accept-charset="utf-8" novalidate ng-submit="$ctrl.submitSignup($event)">
          <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
            <legend class="ph0 mh0 fw6 clip">Sign up</legend>

            <div class="mt3" ng-class="{
                'has-error' : $ctrl.signupForm.first-name.$invalid && $ctrl.signupForm.first-name.$touched,
                'has-success': $ctrl.signupForm.first-name.$valid }">
              <label class="db fw4 lh-copy f6" for="first-name"></label>
              <input class="pa2 input-reset ba--mid-gray br2 w-100 form-control" type="text" name="first-name" id="first-name" placeholder="first name" required ng-minlength=2 ng-maxlength=60 ng-model="$ctrl.data.firstName">
            </div>

            <div class="mt3" ng-class="{
                'has-error' : $ctrl.signupForm.last-name.$invalid && $ctrl.signupForm.last-name.$touched,
                'has-success': $ctrl.signupForm.last-name.$valid }">
              <label class="db fw4 lh-copy f6" for="last-name"></label>
              <input class="pa2 input-reset ba--mid-gray br2 w-100 form-control" type="text" name="last-name" id="last-name" placeholder="last name" required ng-minlength=2 ng-maxlength=60 ng-model="$ctrl.data.lastName">
            </div>

            <div class="mt3" ng-class="{
                'has-error' : $ctrl.signupForm.email.$invalid && $ctrl.signupForm.email.$touched,
                'has-success': $ctrl.signupForm.email.$valid }">
              <label class="db fw4 lh-copy f6" for="email"></label>
              <input class="pa2 input-reset ba--mid-gray br2 w-100 form-control" type="email" name="email" id="email" placeholder="email" required ng-model="$ctrl.data.email">
            </div>

            <div class="mt3" ng-class="{
                'has-error' : $ctrl.signupForm.password.$invalid && $ctrl.signupForm.password.$touched,
                'has-success': $ctrl.signupForm.password.$valid }">
              <label class="db fw4 lh-copy f6" for="password"></label>
              <input class="pa2 input-reset ba--mid-gray br2 form-control" type="password" name="password" id="password" placeholder="password" required ng-minlength=8 ng-model="$ctrl.data.password">
            </div>

            <div class="mt3">
              <label class="db fw4 lh-copy f6" for="confirm-password"></label>
              <input class="pa2 input-reset ba--mid-gray br2 form-control" type="password" name="confirm-password" id="confirm-password" placeholder="confirm password" required ng-minlength=8 ng-model="$ctrl.data.confirmPassword">
            </div>

            <div class="mt3">

              <label class="db fw4 lh-copy f6 fl mr4">Are you a developer?</label>
              <div class="form-group">
                <div class="radio">
                  <label class="fw4 lh-copy f6 mr2">
                     <input type="radio" name="isDeveloper" value=true ng-model="$ctrl.data.isDeveloper" required>
                     Yes
                   </label>
                  <label class="fw4 lh-copy f6">
                     <input type="radio" name="isDeveloper" value=false ng-model="$ctrl.data.isDeveloper" required>
                     No
                   </label>
                </div>
              </div>
            </div>
          </fieldset>
          <div class="mt3 w5-ns center">
            <input class="bw0 br3 bg-mid-gray pa2-l pa1 near-white f6 fw1 tc bg-animate mr2 link" type="submit" value="sign up" ng-disabled="$ctrl.signupForm.$invalid" ng-class="{
              'disabled' : $ctrl.signupForm.$invalid,
              'enabled' : $ctrl.signupForm.$valid }">
            <input class="bw0 br3 bg-mid-gray pa2-l pa1 near-white f6 fw1 tc bg-animate hover-bg-green pointer link" type="reset" value="cancel" ng-click="$ctrl.cancel()">
          </div>
        </form>
      </article>

      <hr />
      <div class="mw5-ns center">
        <p>
          Already a monster? <a ui-sref="login">Log in</a>.
        </p>
      </div>
    </div>
  </div>
</main>
